.tabHeadTr {
  margin-bottom: 28px;
  background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0.6) 100%);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabRow {
  padding: 25px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabBody {
  border-radius: 15px;
  min-height: 500px;
  background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0.6) 100%);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.tab {
  display: flex;
  justify-content: center;
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: start;
  color: #ffffff;
  margin: 64px 45px;
}

.tabHead {
  text-align: start;
  padding: 25px;
}

.dataBox {
  height: 20px;
  width: 20px;
  margin-right: 43px;
  border: 2px solid #ffffff;
}

.approved {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  color: #6cffb6;
}

.pending {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  color: #ffcc7f;
}

.denied {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  color: #ff7777;
}
