
.navFlex {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin: 20px 44px;
}

.border {
  height: 1px;
  background-color: #4b4b99;
  border: none;
}

.iconDiv {
  display: flex;
  gap: 10px;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 106px;
  height: 44px;
  background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0.75) 100%);
  border-radius: 10px;
}
.input {
  border: none;
  width: 60px;
  padding: 3px 4px;
  /* height: 20px; */
  background: linear-gradient(180deg, #1a1a1a 0%, rgba(26, 26, 26, 0.75) 100%);
  border-radius: 10px;
}
